@import "tailwindcss";

@theme {
  --color-primary: #ff5733;
  --font-display: "Inter", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}

button {
  margin-left: 10px;
}
